## Default Elasticsearch configuration from elasticsearch-docker.
## from https://github.com/elastic/elasticsearch-docker/blob/master/build/elasticsearch/elasticsearch.yml
## Disable X-Pack
## see https://www.elastic.co/guide/en/x-pack/current/xpack-settings.html
##     https://www.elastic.co/guide/en/x-pack/current/installing-xpack.html#xpack-enabling
#
#xpack.security.enabled: false
#xpack.monitoring.enabled: false
#xpack.ml.enabled: false
#xpack.graph.enabled: false
#xpack.watcher.enabled: false

cluster.name: elasticsearch
node.name: ip-172-xx-xx-61
path.conf: "/usr/share/elasticsearch/config/"
path.data: "/var/lib/elasticsearch/"
path.logs: "/var/log/elasticsearch/"
#bootstrap.memory_lock: true
cluster.routing.allocation.cluster_concurrent_rebalance: 4
#cluster.routing.allocation.node_concurrent_incoming_recoveries: 100
#cluster.routing.allocation.node_concurrent_outgoing_recoveries: 100

cloud.aws.protocol: https
cloud.aws.region: eu-central-1
cloud.node.auto_attributes: true
cluster.routing.allocation.awareness.attributes: aws_availability_zone
discovery.ec2.availability_zones: eu-central-1a,eu-central-1b
discovery.ec2.node_cache_time: 120s
discovery.ec2.tag.ElasticClusterFunction: master-dev-elastic
discovery.type: ec2
discovery.zen.join_timeout: 90s
discovery.zen.minimum_master_nodes: 2
discovery.zen.ping_timeout: 30s
http.port: 9200
transport.tcp.port: 9300
network.host:
- _eth0:ipv4_
- _site_
network.bind_host: _eth0:ipv4_
network.publish_host: _ec2:privateIp_
node.master: false
node.data: true
plugin.mandatory:
- discovery-ec2
- repository-s3